
body{
    line-height: 1.7;
  background-color: #031633;
     background-image: url("devImage/gnatocDatabase.png");
}

h1,h2,h3,h4,h5,h6{
    .display-4{
       background-color: #031633;
        text-decoration: none;
        
    }

}


.hero{
    background-image: url("devImage/gnatocDatabase.png");
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
}
